body {
  overflow-x: hidden;
}
.firstNav {
  text-align: center;
}
.headerIconItem {
  padding: 15px;
}
h5 {
  display: inline;
}
.icon {
  padding: 15px;
  padding-top: 30px;
}
.subNav {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.subHeader {
  padding-bottom: 0;
  border-bottom: 1px solid #e5e5e5;
}
.subNav ul {
  display: flex;
  padding-top: 0;
}
.subNav ul li {
  list-style-type: none;
  padding: 25px;
  font-size: 22px;
  font-weight: bold;
}
li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
  transition-delay: 0s;
}
.section {
  text-align: center;
}
.filterBar {
  width: 95%;
  height: 88px;
  display: flex;
  border: 1px solid #e5e5e5;
  margin-left: 2.5%;
}
.itemNumber {
  font-weight: bold;
  margin: 37px 118px 25px 25px;
}

.cardBody {
  width: 71%;
  margin-left: auto;
}
.card {
  width: 28%;
  margin: 10px 21px;
}
.card:hover {
  border: 2px solid rgb(201, 192, 192);
  cursor: pointer;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  padding: 5px 5px;
}
.cardImage > img {
  width: 95%;
  height: 180px;
  margin: 5px 5px;
  border-radius: 2px;
}
.locationIcon {
  padding: 5px, 5px;
}
.filter {
  display: flex;
  align-items: center;
}
.sort {
  width: 190px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.MuiButtonBase-root {
  background-color: white;
  color: black !important;
  font-weight: bold;
}
.language {
  margin: auto;
}
.footer {
  width: 100%;
  height: 750px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: black;
}
.boxFooter {
  width: 45%;
  height: 50%;
  color: white;
  border-bottom: 1px solid white;
}
.searchBox {
  width: 95%;
  height: 48px;
  display: flex;
}
input {
  width: 583px;
  height: 47px;
}
button {
  text-align: justify;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  color: black;
  width: 190px;
  height: 48px;
  border: 1px solid white;
  cursor: pointer;
}
.accordion {
  margin-left: 2.5%;
  margin-top: 6%;
  display: flex;
  width: 340px;
  position: absolute;
  flex-wrap: wrap;
  transition: all 0.25s ease-in;
}
.MuiAccordion-gutters {
  height: 100px;
  border: none !important;
}
